header{
    display: block;
    position: absolute;
    width: 100%;
    height: 50rem;
    padding: 0.89rem;
    background-image: linear-gradient(#ceb39c);
}

.Logo{
    max-width: 17rem;
    height: auto;
    position: relative;
    top: -1rem;
    right: 2rem;
    user-select: none;
}

.Line2{
    position: relative;
    top: -22rem;
    left: 19rem;
    background-color: rgb(0, 0, 0);
    width: 39rem;
    height: 4px;
    margin: 0;
    padding: 0;
    border-radius: 20rem;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display:inline;
    padding: 0.625rem 1.2rem;
}

.Links{
    position: relative;
    font-size: 1.8rem;
    font-family: "Varela Round";
    color: rgb(0, 0, 0);
    top: -19rem;
    left: 16.7rem;
    max-width: 40rem;
    z-index: 1;
    user-select: none;
}

.Login{
    position: relative;
    font-size: 1.875rem;
    font-family: "Varela Round";
    font-weight: bold;
    color: rgb(0, 0, 0);
    top: -23rem;
    left: 62.5rem;
    z-index: 1;
    user-select: none;
    background-color: #F8EDEB;
    border-radius: 2rem;
    padding: 0.5rem;
    display: inline;
}

.LoginLogo{
    max-width: 1.5rem;
    height: auto;
    position: relative;
    top: 0.2rem;
    left: 0.25rem;
}

.searchIcon{
    position: relative;
    top: 0.8rem;
    right: 0.5rem;
    max-width: 3.125rem;
    height: auto;   
    user-select: none;
    display: inline-block;
    user-select: none;
}

.Line{
    position: absolute;
    top: 6rem;
    left: 7.5rem;
    background-color: #FFC398;
    font-family: "Varela Round";
    width: 50%;
    height: 4px;
    margin: 0;
    padding: 0;
    border-radius: 20rem;
    user-select: none;
    z-index: 1;
}

.Register{
    position: relative;
    top: -19rem;
    left: 24rem;
    background: linear-gradient(180deg, #FEC89A,#FFE5D9, #FEC89A);
    background-size: 400% 400%;
    animation: LoginBackground 15s ease infinite;
    padding: 6rem 5rem;
    border-radius: 7rem;
    width: 20.2rem;
    height: 24rem;
    border: none;
}

.enterFirstName{
    position: relative;
    top: -2rem;
    height: 30px;
    width: 19rem;
    border-radius: 20px;
    user-select: none;
    border: none;
    text-align: center;
}

.enterLastName{
    position: relative;
    top: -1.5rem;
    height: 30px;
    width: 19rem;
    border-radius: 20px;
    user-select: none;
    border: none;
    text-align: center;
}

.phoneNumber{
    position: relative;
    top: -0.5rem;
    height: 30px;
    width: 19rem;
    border-radius: 20px;
    user-select: none;
    border: none;
    text-align: center;
}

.enterEmail{
    position: relative;
    top: -1rem;
    height: 30px;
    width: 19rem;
    border-radius: 20px;
    user-select: none;
    border: none;
    text-align: center;
}

.enterPassword{
    position: relative;
    top: 0rem;
    height: 30px;
    width: 19rem;
    border-radius: 20px;
    user-select: none;
    border: none;
    text-align: center;
}

.confirmPassword{
    position: relative;
    top: 0.5rem;
    height: 30px;
    width: 19rem;
    border-radius: 20px;
    user-select: none;
    border: none;
    text-align: center;
}

.RegisterButton{
    width: 14rem;
    height: 5rem;
    font-size: 2rem;
    font-family: "Varela Round";
    font-weight: bold;
    background-color: #FFC398;
    position: absolute;
    bottom: 3rem;
    left: 7.5rem;
    color: rgb(0, 0, 0);
    border-radius: 18rem;
    user-select: none;
    border: none;
}

.Button{
    height: 100px;
}

.RegisterTitle{
    position: relative;
    font-family: "Varela Round";
    top: -3rem;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}

.BoxOne{
    position: relative;
    top: 4rem;
    left: 17rem;
    background: linear-gradient(180deg, #FFB179,#FFD7BA, #FFB179);
    background-size: 400% 400%;
    animation: LoginBackground 15s ease infinite;
    height: 15rem;
    width: 15rem;
    color: rgb(0, 0, 0);
    border-radius: 7.5rem;
    user-select: none;
    box-shadow: none;
    border: none;
    z-index: -1;
}

.BoxTwo{
    position: relative;
    top: -39.5rem;
    left: -10rem;
    background: linear-gradient(180deg, #FFB179,#FFD7BA, #FFB179);
    background-size: 400% 400%;
    animation: LoginBackground 15s ease infinite;
    height: 10rem;
    width: 10rem;
    color: rgb(0, 0, 0);
    border-radius: 7.5rem;
    user-select: none;
    box-shadow: none;
    border: none;
    z-index: 0;
}

.BoxThree{
    position: relative;
    top: -42rem;
    left: -9rem;
    background: linear-gradient(180deg, #FFB179,#FFD7BA, #FFB179);
    background-size: 400% 400%;
    animation: LoginBackground 15s ease infinite;
    height: 7rem;
    width: 7rem;
    color: rgb(0, 0, 0);
    border-radius: 7.5rem;
    user-select: none;
    box-shadow: none;
    border: none;
    z-index: -1;
}

.RegisterHelp{
    position: relative;
    top: -69.6rem;
    font-size: 0.9rem;
    height: auto;
    font-family: "Varela Round";
}

.PawsOne{
    position: relative;
    max-width: 18rem;
    top: -32rem;
    left: 60rem;
    transform: rotate(90deg);    
    z-index: -2;
}


body{
    background-color: #e7d9cd;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

@keyframes LoginBackground {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

